html{
   background: url(../../assets/images/hero-home.jpeg) no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
}


body{
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.733);
    font-size: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
