//Title of the Page






.page-title_text{
    color: $white-color;
    font-size: 2.8em;
    letter-spacing: 5px;
    


        &_sub{
            color: darken($white-color,20);
            font-weight: 300;
            font-size: 1.8em;

                @media screen and (max-width:320px) {
                    font-size: 1.3em;
                }
        }
}



.search-bar_section{
   

    width: fit-content;
    position: relative;
    margin: 40px auto;


        @media screen and (min-width:769px) {
            position: absolute;
            top: 15px;
            right: 20px;
            margin: 0;
        }
    

    label{
        display: block;
        color: $white-color;
        text-align: center;
        letter-spacing: 1.2px;
    }



    input{
        height: 30px;
        appearance: none;
        border: 2px solid $brand-color;
        background-color: $black-color;
        color: $white-color;
        text-indent: 5px;
        border-radius: 4px;
    }
    


    .search-bar_icon{
        position: absolute;
        width: 30px;
        height: 45%;
        background: url(/src/assets/icons/search_icon.svg);
        background-size: cover;
        bottom: 5px;
        right: 2px;
        background-color: $black-color;
        
    }

}





.section-contents{
    padding-top: 25px;
}

.content{
   padding-top: 20px;
}




.content-type_title{

      color:$brand-color;
      font-size: 2.2em;
      margin-top: 20px;

      @media screen and (min-width:769px) {
        font-size: 2.5em;
    }
      


        &::before{
                content: "- ";
        }
}




///Article Audition
  .audition{
    padding: 10px 0 0 0px;
    margin-top: 30px;
    position: relative;
   

        &-location{
            color: rgb(255, 255, 255);
            font-size: 1.8em;
            letter-spacing: 1.2px;


            
            
                &::before{
                    content:"°";
                    padding-right: 3px;
                }


        }
  }





.audition_info_list{
    
    padding:10px 0 0 10px;


            &_item{
                padding: 7px;
                color:$white-color;
                font-size: calc(0.9em + 1vw);
                letter-spacing: 1.2px;

                @media screen and (min-width:769px) {
                    font-size: 1.4em;
                    letter-spacing: 2px;
                }

                    
                


                    time,a{
                        color:darken($white-color,15);
                        padding-left: 1px;
                      
                    }


                    address{
                        clear: both;
                        font-size: 1;

                            @media screen and (max-width:320px) {
                                font-size: 1em;
                            }
                    }
            }

}


.audition_action-btn{
    position: absolute;
    top:40%;
    right: 10px;
    transform: translateY(-50%);
    box-shadow: 0px 0px 8px $white-color;
    animation: lightToggle 0.8s ease infinite alternate;

        @media screen and (max-width:320px) {
            font-size: 0.6em;
        }
}



@keyframes lightToggle {
    from{
        border-color: black;
    }

    to{
        border-color: $white-color;
    }
}




