html{
    background: url(../../assets/images/hero-home.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
   
 }
 
 
 body.home-page{
     height: 100dvh;
     background-color: rgba(0, 0, 0, 0.733);
     font-size: 1rem;
     width: 100vw;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 
      
 
       @media screen and (max-height:600px) and (min-width:769px){
         height: auto;
       }
 
       @media screen and (min-height:414px) and (min-width:993px){
         height: 100dvh;
       }
 }
 