@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  background: url(../../assets/images/hero-home.jpeg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.582);
  font-size: 1rem;
  width: 100vw;
}

body {
  font-family: "Bebas Neue", cursive;
}

.header_brand {
  color: rgb(231, 231, 231);
  padding-top: 5px;
  letter-spacing: 1.5px;
}
.header_brand span.H {
  color: rgb(0, 231, 143);
  position: relative;
}
.header_brand span.H::before {
  content: "''";
  position: absolute;
  top: -3px;
  left: -5px;
  font-size: large;
}
.header_brand span.H::after {
  content: "''";
  position: absolute;
  top: -3px;
  left: 10px;
  font-size: large;
}
.header_brand span {
  font-size: 120%;
}

.btn_cta {
  font-size: large;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid rgb(231, 231, 231);
  border-radius: 12px;
  padding: 5px 10px;
  font-weight: 600;
  background-color: #181818;
  color: rgb(0, 231, 143);
  display: none;
}
.btn_cta_link {
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .btn_cta {
    display: block;
  }
}
.header_toggle-menu {
  width: 35px;
  height: 25px;
  display: block;
  order: 4;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .header_toggle-menu {
    display: none;
  }
}
.header_toggle-menu_line {
  width: 100%;
  height: 3px;
  background-color: rgb(0, 231, 143);
  display: block;
  transition: all 0.3s ease-in-out;
}

input#header_toggle-menu:checked + .header_toggle-menu > .header_toggle-menu_line--top {
  transform: rotate(-45deg) translateY(7px) translateX(-5px);
}
input#header_toggle-menu:checked + .header_toggle-menu > .header_toggle-menu_line--middle {
  opacity: 0;
}
input#header_toggle-menu:checked + .header_toggle-menu > .header_toggle-menu_line--bottom {
  transform: rotate(45deg) translateX(-7px) translateY(-10px);
}

input#header_toggle-menu:checked ~ .header_nav > .header_nav_list {
  height: 100dvh;
}
@media screen and (min-width: 769px) {
  input#header_toggle-menu:checked ~ .header_nav > .header_nav_list {
    height: 100%;
  }
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 10px 15px;
  background-color: #181818;
}

.header_nav {
  height: 100%;
}
.header_nav_list {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  height: 0;
  transition: height 0.7s ease;
  background-color: black;
}
@media screen and (min-width: 769px) {
  .header_nav_list {
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: none;
    position: static;
  }
}
.header_nav_list_item {
  background-color: #00b46f;
  width: 100vw;
}
@media screen and (min-width: 769px) {
  .header_nav_list_item {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header_nav_list_item:nth-child(odd) {
  background-color: #252525;
}
.header_nav_list_item_link {
  color: rgb(231, 231, 231);
  text-decoration: none;
  font-size: 1.7em;
  letter-spacing: 1px;
  display: block;
  padding: 10px 10px;
  min-width: 80px;
}
.header_nav_list_item_link--active {
  text-decoration: underline;
}
@media screen and (min-width: 769px) {
  .header_nav_list_item_link {
    font-size: 1.3em;
  }
}

.brand-slogan {
  color: rgb(231, 231, 231);
  width: 70px;
  word-spacing: 2px;
  letter-spacing: 2px;
  padding: 15px;
  font-size: 1.9em;
  text-align: justify;
}/*# sourceMappingURL=main.css.map */