@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

body {
  background: url(../../assets/images/hero-home.jpeg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  padding: 15px 0px 0 15px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.808);
}
@media screen and (min-width: 769px) {
  main {
    padding: 10px 25px;
    width: 100%;
    margin: auto;
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  main {
    width: 80%;
    max-width: 1500px;
  }
}

body {
  font-family: "Bebas Neue", cursive;
}

.brand-link {
  text-decoration: none;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.header_brand {
  color: rgb(231, 231, 231);
  padding-top: 5px;
  letter-spacing: 1.5px;
  font-size: 2em;
}
.header_brand span.H {
  color: rgba(113, 230, 102, 0.76);
  position: relative;
}
.header_brand span.H::before {
  content: "''";
  position: absolute;
  top: -2px;
  left: -5px;
  font-size: large;
}
.header_brand span.H::after {
  content: "''";
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: large;
}
.header_brand span {
  font-size: 120%;
}

.btn_cta {
  font-size: large;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid rgb(231, 231, 231);
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 600;
  box-shadow: 0 0 20px rgba(113, 230, 102, 0.76);
  background-color: rgba(113, 230, 102, 0.76);
  color: rgb(231, 231, 231);
  display: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn_cta:active {
  color: rgba(113, 230, 102, 0.76);
  background-color: rgb(231, 231, 231);
}
@media screen and (min-width: 769px) {
  .btn_cta {
    display: block;
    width: calc(6em + 3vw);
    max-width: 150px;
    height: 40px;
    font-size: 110%;
  }
}
.btn_cta--bottom {
  display: block;
  font-size: calc(1vw + 1.3em);
  margin: 0px auto 10px;
  margin-bottom: 100px;
}
@media screen and (min-width: 769px) {
  .btn_cta--bottom {
    display: none;
  }
}
.btn_cta_link {
  text-decoration: none;
  width: 200px;
  margin: 10px auto;
}
@media screen and (min-width: 769px) {
  .btn_cta_link {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
}

.header_toggle-menu {
  width: 35px;
  height: 25px;
  display: block;
  order: 4;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .header_toggle-menu {
    display: none;
  }
}
.header_toggle-menu_line {
  width: 100%;
  height: 3px;
  background-color: rgba(113, 230, 102, 0.76);
  display: block;
  transition: all 0.3s ease-in-out;
  min-width: 30px;
}

input#header_toggle-menu:checked + .header_toggle-menu > .header_toggle-menu_line--top {
  transform: rotate(-45deg) translateY(7px) translateX(-5px);
}
input#header_toggle-menu:checked + .header_toggle-menu > .header_toggle-menu_line--middle {
  opacity: 0;
}
input#header_toggle-menu:checked + .header_toggle-menu > .header_toggle-menu_line--bottom {
  transform: rotate(45deg) translateX(-7px) translateY(-10px);
}

input#header_toggle-menu:checked ~ .header_nav > .header_nav_list {
  height: 100dvh;
}
@media screen and (min-width: 769px) {
  input#header_toggle-menu:checked ~ .header_nav > .header_nav_list {
    height: 100%;
  }
}

.action-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #181818;
  color: rgba(113, 230, 102, 0.76);
  border-radius: 8px;
  padding: 10px;
  border: 2px solid rgb(231, 231, 231);
  font-weight: bold;
  cursor: pointer;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 10px 15px;
  background-color: #181818;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media screen and (min-width: 769px) {
  .header {
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    width: 80%;
    margin: auto;
    max-width: 1500px;
  }
}

.login-area span {
  width: 40px;
  height: 40px;
  background-image: url(/src/assets/icons/user\ \(2\).png);
  background-size: cover;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 70px;
}
@media screen and (min-width: 768px) {
  .login-area {
    display: none;
  }
}

.header_nav {
  z-index: 9;
}
.header_nav_list {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  height: 0;
  transition: height 0.7s ease;
  background-color: black;
}
@media screen and (min-width: 769px) {
  .header_nav_list {
    flex-direction: row;
    height: 80%;
    width: -moz-fit-content;
    width: fit-content;
    overflow: none;
    position: relative;
  }
}
.header_nav_list_item {
  background-color: rgba(155, 151, 151, 0.342);
  width: 100vw;
  transition: opacity 0.3s ease;
}
.header_nav_list_item--active {
  background-color: rgba(113, 230, 102, 0.76);
}
.header_nav_list_item:hover {
  opacity: 0.8;
}
@media screen and (min-width: 769px) {
  .header_nav_list_item {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header_nav_list_item:not(.header_nav_list_item--active):nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.986);
}
.header_nav_list_item--active {
  color: rgba(113, 230, 102, 0.76);
}
.header_nav_list_item_link {
  color: rgb(231, 231, 231);
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1px;
  display: block;
  padding: 5px calc(1px + 1vw);
  min-width: calc(80px - 2vw);
  width: 100%;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  .header_nav_list_item_link {
    padding: 10px;
    font-size: 1.5em;
  }
}

::-webkit-scrollbar {
  display: none;
}

.footer {
  background-color: #181818;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100dvw;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 769px) {
  .footer {
    width: 100dvw;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    width: 80dvw;
    margin: auto;
    max-width: 1500px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.social-media_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5vw;
  height: inherit;
}
@media screen and (min-width: 769px) {
  .social-media_list {
    justify-content: flex-start;
    padding-top: 5px;
    gap: 2vw;
  }
}
.social-media_list_item {
  height: inherit;
}
.social-media_list img {
  padding: 4px;
  height: 90%;
  opacity: 0.9;
}

.member-area {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .member-area {
    display: none;
  }
}
.member-area_link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  text-decoration-color: rgba(113, 230, 102, 0.76);
}
.member-area_text {
  font-size: 1.5em;
  letter-spacing: 2px;
  color: rgb(231, 231, 231);
}
.member-area_icon {
  text-align: center;
  background-color: aliceblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  background-image: url(/src/assets/icons/user\ \(2\).png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}

.brand-slogan {
  color: rgb(231, 231, 231);
  word-spacing: 1px;
  letter-spacing: 1.5px;
  font-size: calc(1.5em + 1.5vw);
  text-shadow: 4px 1px 1px rgba(2, 129, 119, 0.4039215686);
  z-index: 8;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 769px) {
  .brand-slogan {
    font-size: 3.5em;
  }
}
.brand-slogan_sub {
  color: #cecece;
  font-size: 1.3em;
  padding-top: 5px;
}
@media screen and (min-width: 769px) {
  .brand-slogan_sub {
    font-size: 2em;
  }
}
.brand-slogan_sub--green {
  color: rgba(113, 230, 102, 0.76);
  font-size: 1.4em;
}
@media screen and (min-width: 769px) {
  .brand-slogan_sub--green {
    font-size: 1.7em;
  }
}
.brand-slogan_sub--medium {
  font-size: 1.2em;
  color: #cecece;
}
@media screen and (min-width: 769px) {
  .brand-slogan_sub--medium {
    font-size: 2em;
  }
}

.services {
  padding-top: 20px;
}

@media screen and (min-width: 769px) {
  .service {
    padding: 20px;
  }
}
.service-item {
  margin: 40px 0;
}
.service-item hr {
  padding: 20px 0;
  border: none;
  border-bottom: 2px solid rgba(113, 230, 102, 0.76);
}
.service-title, .service-item {
  color: rgb(231, 231, 231);
}
.service-title {
  font-size: calc(100% + 2.5vw);
  color: transparent;
  background: linear-gradient(0deg, rgb(63, 63, 63), rgb(255, 255, 255));
  -webkit-background-clip: text;
          background-clip: text;
  padding-bottom: 20px;
}
.service-title::before {
  content: "- ";
}
@media screen and (min-width: 769px) {
  .service-container {
    display: flex;
  }
}
.service-img {
  width: 95%;
  box-shadow: 0 0 100px black;
  flex-shrink: 0;
  border-radius: 8px;
}
@media screen and (min-width: 769px) {
  .service-img {
    width: 50%;
  }
}
.service-description {
  padding-left: 10px;
  font-size: 20px;
  line-height: 20px;
  padding: 3%;
  text-align: left;
  letter-spacing: 0.5px;
  width: 95%;
}
@media screen and (min-width: 769px) {
  .service-description {
    font-size: calc(1.1em + 0.5vw);
    width: 80%;
    text-align: center;
    line-height: 30px;
  }
}

.service_text-action-container {
  text-align: center;
}
@media screen and (min-width: 769px) {
  .service_text-action-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.service_action-btn {
  margin-top: 10px;
}
@media screen and (min-width: 769px) {
  .service_action-btn {
    font-size: 1.5em;
  }
}

.page-title_text {
  color: rgb(231, 231, 231);
  font-size: 2.8em;
  letter-spacing: 5px;
}
.page-title_text_sub {
  color: #b4b4b4;
  font-weight: 300;
  font-size: 1.8em;
}
@media screen and (max-width: 320px) {
  .page-title_text_sub {
    font-size: 1.3em;
  }
}

.search-bar_section {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 40px auto;
}
@media screen and (min-width: 769px) {
  .search-bar_section {
    position: absolute;
    top: 15px;
    right: 20px;
    margin: 0;
  }
}
.search-bar_section label {
  display: block;
  color: rgb(231, 231, 231);
  text-align: center;
  letter-spacing: 1.2px;
}
.search-bar_section input {
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid rgba(113, 230, 102, 0.76);
  background-color: #181818;
  color: rgb(231, 231, 231);
  text-indent: 5px;
  border-radius: 4px;
}
.search-bar_section .search-bar_icon {
  position: absolute;
  width: 30px;
  height: 45%;
  background: url(/src/assets/icons/search_icon.svg);
  background-size: cover;
  bottom: 5px;
  right: 2px;
  background-color: #181818;
  cursor: pointer;
}

.section-contents {
  padding-top: 5px;
}

.content {
  padding-top: 20px;
}

.content-type_title {
  color: rgba(113, 230, 102, 0.76);
  font-size: 2.2em;
  margin-top: 20px;
}
@media screen and (min-width: 769px) {
  .content-type_title {
    font-size: 2.5em;
  }
}
.content-type_title::before {
  content: "- ";
}

.audition {
  padding: 10px 0 0 0px;
  margin-top: 30px;
  position: relative;
}
.audition-location {
  color: rgb(255, 255, 255);
  font-size: 1.8em;
  letter-spacing: 1.2px;
}
.audition-location::before {
  content: "°";
  padding-right: 3px;
}

.audition_info_list {
  padding: 10px 0 0 10px;
}
.audition_info_list_item {
  padding: 7px;
  color: rgb(231, 231, 231);
  font-size: calc(0.9em + 1vw);
  letter-spacing: 1.2px;
}
@media screen and (min-width: 769px) {
  .audition_info_list_item {
    font-size: 1.4em;
    letter-spacing: 2px;
  }
}
.audition_info_list_item time, .audition_info_list_item a {
  color: #c1c1c1;
  padding-left: 1px;
}
.audition_info_list_item address {
  clear: both;
  font-size: 1;
}
@media screen and (max-width: 320px) {
  .audition_info_list_item address {
    font-size: 1em;
  }
}

.audition_action-btn {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  box-shadow: 0px 0px 8px rgb(231, 231, 231);
  animation: lightToggle 0.8s ease infinite alternate;
}
@media screen and (max-width: 320px) {
  .audition_action-btn {
    font-size: 0.6em;
  }
}

@keyframes lightToggle {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
a.link-about_main, .violet-link {
  color: blueviolet;
  font-size: 1.2em;
}

@media screen and (min-width: 769px) {
  .page-title {
    margin-left: 20px;
  }
}

.section-titles_text {
  margin-top: 20px;
  letter-spacing: 1.2px;
}
@media screen and (min-width: 769px) {
  .section-titles_text {
    margin-left: 20px;
  }
}

.about-articles-section {
  margin-top: 30px;
  color: rgb(231, 231, 231);
}
@media screen and (min-width: 769px) {
  .about-articles-section {
    padding: 40px;
  }
}

.about-article {
  padding-bottom: 50px;
}
@media screen and (min-width: 769px) {
  .about-article {
    width: 70%;
    margin: auto;
  }
}

.about-article_title {
  font-size: 2.2em;
  padding-bottom: 20px;
  color: rgba(113, 230, 102, 0.76);
}

.about-article-desc {
  letter-spacing: 1.2px;
  width: 95%;
}
.about-article-desc strong {
  font-size: 1.3em;
}
@media screen and (min-width: 769px) {
  .about-article-desc {
    font-size: 1.3em;
    width: 100%;
  }
}

.about-article--flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}
.about-article--flex img {
  width: 95%;
  border-radius: 8px;
}
@media screen and (min-width: 769px) {
  .about-article--flex img {
    width: 48%;
  }
}
@media screen and (min-width: 769px) {
  .about-article--flex {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */