.action-btn{
        appearance: none;
        background-color: $black-color;
        color: $brand-color;
        border-radius: 8px;
        padding: 10px;
        border: 2px solid $white-color;
        font-weight: bold;
        cursor: pointer;
}