.brand-link{
    text-decoration: none;
}



// Header Brand (h1) Brand text BANDHOP
    .header_brand{

        color: $white-color;
        padding-top: 5px;
        letter-spacing: 1.5px;

            // H lettre in Brand Text "bandHop"
            span.H{
                color: $brand-color;
                position: relative;
               

                //Double quote for H lettre  ::before
                    &::before{
                        
                        content: "''";
                        position: absolute;
                        top: -3px;
                        left: -5px;
                        font-size: large;
                
                    }


                //Double quote for H lettre  ::after
                    &::after{

                        content: "''";
                        position: absolute;
                        top: -3px;
                        right: -5px;
                        font-size: large;
                    
                    }

            }

            span{
                font-size: 120%;  
            }

            
}




