.btn_cta{
    font-size: large;
    appearance: none;
    border: 2px solid $white-color;
    border-radius: 12px;
    padding: 5px 10px;
    font-weight: 600;
    background-color: $black-color;
    color: $brand-color;
    display: none;
}