.btn_cta{
    font-size: large;
    appearance: none;
    border: 2px solid $white-color;
    border-radius: 12px;
    padding: 5px 10px;
    font-weight: 600;
    background-color: $black-color;
    color: $brand-color;
    display: none;  

        &--bottom{
            display: block;
        }

        &_link{
            text-decoration: none;
        }
    
}


@media screen and (min-width:769px){
    .btn_cta{
        display: block;
    }
}