
.event{
   
    height: fit-content;
    margin-left: 10px;
    position: relative;

    
   
        .carousel-arrow-icon{
        width: 40px;
        height: 40px;
        background: url(/src/assets/icons/chevron_right_FILL0_wght400_GRAD0_opsz48.svg) no-repeat rgba(29, 29, 29, 0.774) ;
        background-size: cover;
        background-position: center top;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        animation: toggle-visibility 0.6s  ease alternate 10;
        opacity: 0;
        
        
        display: none;


            @media screen and (max-width:768px) {
                display: block;
                z-index: 5;
            }
        
    }



    &_carousel{
        width: fit-content;
        scroll-snap-type:x mandatory;
        width: inherit;
        overflow-y: hidden;
       
            @media screen and (min-width:769px) {
                overflow-y: visible;
            }
    }
}




.event_carousel_list{
    width: inherit;
    height: inherit;
    display: flex;
    gap: 20px;
    padding: 5px;


        @media screen and (min-width:769px) and (max-width:992px) {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: auto;      
        }

       

 
        
        &_item{
            scroll-snap-align: start;
            width: 100%;
            height: 100%;
            object-fit: cover;
            flex-shrink: 0;
            max-width: 450px;
            

            @media screen and (min-width:769px) and (max-width:992px) {
                max-width: 45%;
                flex: 0 0 100%;
            }

            @media screen and (min-width:769px) {
                flex-shrink: 1;
            }

            

                &_link{
                    text-decoration: none;
                }
           

                img{
                    width: 90%;
                    height: 100%;
                    border-radius: 8px;
                    text-align: center;
                    transition: opacity 0.3s ease-in-out;
                    box-shadow: 0px 0px 5px rgb(0, 0, 0);
                }



                &_service-caption{
                        color: $white-color;
                        text-align: center;
                        font-size: calc(110% + 1vw);
                        padding:2px;
                        
                }
        }
}


figure{
    @include flex-center(column);
    position: relative;


        p{
            color: $white-color;
            position: absolute;
            top: 40%;
            left: 50%;
            width: 80%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
}




@media screen and (min-width:769px) {

    figure{

            

            &:hover > img{
                opacity: 0.3;
               
            }

        
            &:hover > p{
                opacity: 1;
            }

    //// DESCRIPTION
            p{
                color: white;
                position: absolute;
                top: 40%;
                left: 50%;
                width: 80%;
                transform: translate(-50%,-50%);
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                background-color: rgba(0, 0, 0, 0);
                text-align: center;
                font-size: calc(100% + 1vw)
            }
    }
}







//Animation of carousel arrow 
@keyframes toggle-visibility {

    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
    
}