// Menu Btn toggle , visible only on mobile
.header_toggle-menu{

    width: 35px;
    height: 25px;
    display: block;
    order: 4;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
    cursor: pointer;


        //Responsive Min-width 769px
            @media screen and (min-width:769px) {
                display: none;
            }

   
        &_line{
            width: 100%;
            height: 3px;
            background-color: $brand-color;
            display: block;
            transition: all 0.3s ease-in-out;
        }
}


//MENU
// When Menu Btn is Clicked , all lines will do the animation      
// Menu Btn is a INPUT checkbox Label

input#header_toggle-menu:checked + .header_toggle-menu > .header_toggle-menu_line{
    

    //Menu Lines (top, middle, bottom)
        &--top{
            
            transform: rotate(-45deg) translateY(7px)translateX(-5px);
        }


        &--middle{
           opacity: 0;
           
        }


        &--bottom{
            transform: rotate(45deg) translateX(-7px) translateY(-10px);
        }

}



//NAV-LIST
/// When Menu Button is clicked , the NavBar do the animation and show all links (height from 0 to 100vh)
input#header_toggle-menu:checked ~ .header_nav > .header_nav_list{

    height: 100dvh;
  
    //Responsive Min-width 769px
        @media screen and (min-width:769px){
            height: 100%;
        }
    
}

