
.header{
    height: 60px;
    @include flex-align-center-row;
    justify-content: space-between;
    position: relative;
    padding: 10px 15px;
    background-color: $black-color;
    position: sticky;
    top: 0;
    z-index: 10;
   
    


    @media screen and (min-width:769px) {
       
        width: 100%;
        margin: auto;
        
    }

    

    @media screen and (min-width:1024px) {
              
      width: 80%;
      margin: auto;
      max-width: 1500px;

    }
   
    
}



.login-area{
   
        span{
            width: 40px;
            height: 40px;
            background-image: url(/src/assets/icons/user\ \(2\).png);
            background-size: cover;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 70px;
           
        }

        @media screen and (min-width:768px) {
            display: none;
        }
    
}

