
main.main_home-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
    gap: 0vw;
    width: 100vw;
    overflow: hidden;
    padding: 40px 0;
}



.brand-slogan{
    color: $white-color;
    width: 30%;
    word-spacing: 2px;
    letter-spacing: 5px;
    padding: 0 15px;
    font-size: calc(1.2em + 4vw);
    text-shadow: 4px 1px 1px #db063b6c ;
}   



