.header_nav{
    z-index: 9;
    height: 100%;


        //Nav-list (ul)
        &_list{
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            text-align: center;
            height: 100vh;
            background-color: $black-color;
            @include flex-align-center-row;
            justify-content: center;
            flex-direction: column;
            height: 0;
            transition: height 0.7s ease;
            background-color: black;


        //Responsive min-width 769px
            @media screen and (min-width:769px) {
                flex-direction: row;
                height: 100%;
                width: 100%;
                overflow: none;
                position: static;
                
            }

            
            //Nav_list-item (li)
                &_item{
                    background-color: $brand-color;
                    width: 100vw;

                        
                    //Responsive Nav-list-item (li) min-width:769px
                    @media screen and (min-width:769px) {
                        width: fit-content;
                    }


                    //Nav_item (odd)
                        &:nth-child(odd){
                        background-color: lighten($black-color,5);
                        }
    


                    //Nav_link (a)
                        &_link{
                            color: $white-color;
                            text-decoration: none;
                            font-size: 1.7em;
                            letter-spacing: 1px;
                            display: block;
                            padding: 10px 10px;
                            min-width: 80px;


                            //Link Current Page (Active)
                                &--active{
                                    text-decoration:underline; 
                                }


                        //Responsive min-width 769px Nav-links (a)
                             @media screen and (min-width:769px) {
                                font-size: 1.3em;
                                
                             }
                        }
                        

                   
                
                }

        }
}



::-webkit-scrollbar{
    display: none;
}