.header_nav{
    z-index: 9;
   
    


    //Nav-list (ul)
        &_list{
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            text-align: center;
            height: 100vh;
            background-color: $black-color;
            @include flex-align-center-row;
            justify-content: center;
            flex-direction: column;
            height: 0;
            transition: height 0.7s ease;
            background-color: black;

               

        //Responsive min-width 769px
            @media screen and (min-width:769px) {
                flex-direction: row;
                height: 80%;
                width: fit-content;
                overflow: none;
                position: relative;
                
            }

            
            //Nav_list-item (li)
                &_item{
                    background-color: rgba(155, 151, 151, 0.342);
                    width: 100vw;
                    transition: opacity 0.3s ease;

                    &--green{
                        background-color: $brand-color;
                    }
                    

                        &:hover{
                            opacity: 0.8;
                        }

                        
                    //Responsive Nav-list-item (li) min-width:769px
                    @media screen and (min-width:769px) {
                       width: fit-content;
                       
                    }

                   

                    //Nav_item (odd)
                        &:nth-child(odd){
                            background-color: rgba(0, 0, 0, 0.986);
                        // background-color: lighten($black-color,5);
                        }
    


                    //Nav_link (a)
                        &_link{
                            color: $white-color;
                            text-decoration: none;
                            width:fit-content;
                            letter-spacing: 1px;
                            display: block;
                            padding: 5px calc(1px + 1vw);
                            min-width: calc(80px - 2vw);
                            width: 100%;
                            font-size: 1.2em;




                            //Link Current Page (Active)
                                &--active{
                                    text-decoration:underline; 
                                }


                                @media screen and (max-width:768px) {
                                    padding: 10px;
                                    font-size: 1.5em;
                                }


                        
                        }
                        

                   
                
                }

        }
}



::-webkit-scrollbar{
    display: none;
}